.version.contact /* version checker */
{
	color: #0000E5;
	background-color: #AAA769;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 348.7px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 151.3px;
	margin-left: auto;
	margin-right: auto;
}

#ppu151-4
{
	width: 0.01px;
}

#pu151-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 514px;
}

#u151-4
{
	z-index: 33;
	width: 446px;
	min-height: 34px;
}

#menuu75
{
	z-index: 2;
	width: 383px;
	margin-left: 63px;
	margin-top: 4px;
}

#u83
{
	width: 94px;
	min-height: 38px;
	margin-right: -10000px;
}

#u84
{
	width: 94px;
	padding-bottom: 19px;
}

#u87-4
{
	width: 94px;
	min-height: 19px;
	margin-right: -10000px;
	top: 9px;
}

#u84:hover #u87-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u98
{
	width: 94px;
	min-height: 38px;
	margin-right: -10000px;
	left: 96px;
}

#u101
{
	width: 94px;
	padding-bottom: 19px;
}

#u84.MuseMenuActive,#u101:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u103-4
{
	width: 94px;
	min-height: 19px;
	margin-right: -10000px;
	top: 9px;
}

#u84.MuseMenuActive #u87-4,#u101:hover #u103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u130
{
	width: 94px;
	min-height: 38px;
	margin-right: -10000px;
	left: 192px;
}

#u131
{
	width: 94px;
	padding-bottom: 19px;
}

#u101.MuseMenuActive,#u131.MuseMenuActive
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u134-4
{
	width: 94px;
	min-height: 19px;
	margin-right: -10000px;
	top: 9px;
}

#u101.MuseMenuActive #u103-4,#u131:hover #u134-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u131.MuseMenuActive #u134-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u143
{
	width: 95px;
	min-height: 38px;
	margin-right: -10000px;
	left: 288px;
}

#u146
{
	width: 95px;
	padding-bottom: 19px;
}

#u146.MuseMenuActive
{
	width: 95px;
	min-height: 0px;
	margin: 0px;
}

#u148-4
{
	width: 95px;
	min-height: 19px;
	margin-right: -10000px;
	top: 9px;
}

#u146:hover #u148-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u146.MuseMenuActive #u148-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u150-6
{
	z-index: 27;
	width: 469px;
	min-height: 99px;
	margin-right: -10000px;
}

#buttonu435
{
	z-index: 37;
	width: 417px;
	height: 83px;
	margin-right: -10000px;
}

#buttonu435:hover
{
	width: 417px;
	height: 83px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu435:active
{
	width: 417px;
	height: 83px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu435.ButtonSelected
{
	width: 417px;
	height: 83px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pu181-4
{
	width: 0.01px;
	margin-left: 48px;
	margin-top: 7px;
}

#u181-4
{
	z-index: 70;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 5px;
}

#u182
{
	z-index: 74;
	width: 170px;
	height: 32px;
	border-width: 8px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	left: -4px;
}

#pu153-4
{
	width: 0.01px;
	margin-left: 244px;
	margin-top: 43px;
}

#u153-4
{
	z-index: 38;
	width: 190px;
	min-height: 39px;
	background-color: transparent;
	line-height: 31px;
	text-align: right;
	font-size: 27px;
	letter-spacing: 8px;
	color: #F0F0F0;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u160-4
{
	z-index: 66;
	width: 382px;
	min-height: 40px;
	background-color: transparent;
	color: #F0F0F0;
	text-align: left;
	font-size: 27px;
	line-height: 31px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 242px;
}

#u154-4
{
	z-index: 42;
	width: 190px;
	min-height: 40px;
	background-color: transparent;
	line-height: 31px;
	text-align: right;
	font-size: 27px;
	letter-spacing: 8px;
	color: #F0F0F0;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u159-4
{
	z-index: 62;
	width: 382px;
	min-height: 40px;
	background-color: transparent;
	color: #F0F0F0;
	text-align: left;
	font-size: 27px;
	line-height: 31px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 242px;
}

#u155-4
{
	z-index: 46;
	width: 190px;
	min-height: 40px;
	background-color: transparent;
	line-height: 31px;
	text-align: right;
	font-size: 27px;
	letter-spacing: 8px;
	color: #F0F0F0;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u158-4
{
	z-index: 58;
	width: 382px;
	min-height: 40px;
	background-color: transparent;
	color: #F0F0F0;
	text-align: left;
	font-size: 27px;
	line-height: 31px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 242px;
}

#pu154-4,#pu155-4,#pu156-4
{
	width: 0.01px;
	margin-left: 244px;
}

#u156-4
{
	z-index: 50;
	width: 190px;
	min-height: 40px;
	background-color: transparent;
	line-height: 31px;
	text-align: right;
	font-size: 27px;
	letter-spacing: 8px;
	color: #F0F0F0;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u157-4
{
	z-index: 54;
	width: 382px;
	min-height: 40px;
	background-color: transparent;
	color: #F0F0F0;
	text-align: left;
	font-size: 27px;
	line-height: 31px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 242px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

