.version.index /* version checker */
{
	color: #00001F;
	background-color: #1BB453;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 480px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

#ppu151-4
{
	width: 0.01px;
}

#pu151-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 514px;
}

#u151-4
{
	z-index: 33;
	width: 446px;
	min-height: 34px;
}

#menuu75
{
	z-index: 2;
	width: 357px;
	margin-left: 89px;
	margin-top: 4px;
}

#u83
{
	width: 87px;
	min-height: 38px;
	margin-right: -10000px;
}

#u84
{
	width: 87px;
	padding-bottom: 19px;
}

#u84.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u87-4
{
	width: 87px;
	min-height: 19px;
	margin-right: -10000px;
	top: 9px;
}

#u84:hover #u87-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u84.MuseMenuActive #u87-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u98
{
	width: 88px;
	min-height: 38px;
	margin-right: -10000px;
	left: 89px;
}

#u101
{
	width: 88px;
	padding-bottom: 19px;
}

#u101:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u103-4
{
	width: 88px;
	min-height: 19px;
	margin-right: -10000px;
	top: 9px;
}

#u101:hover #u103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u130
{
	width: 88px;
	min-height: 38px;
	margin-right: -10000px;
	left: 179px;
}

#u131
{
	width: 88px;
	padding-bottom: 19px;
}

#u134-4
{
	width: 88px;
	min-height: 19px;
	margin-right: -10000px;
	top: 9px;
}

#u101.MuseMenuActive #u103-4,#u131:hover #u134-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u143
{
	width: 88px;
	min-height: 38px;
	margin-right: -10000px;
	left: 269px;
}

#u146
{
	width: 88px;
	padding-bottom: 19px;
}

#u101.MuseMenuActive,#u131.MuseMenuActive,#u146.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u148-4
{
	width: 88px;
	min-height: 19px;
	margin-right: -10000px;
	top: 9px;
}

#u131.MuseMenuActive #u134-4,#u146:hover #u148-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u146.MuseMenuActive #u148-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u150-6
{
	z-index: 27;
	width: 469px;
	min-height: 99px;
	margin-right: -10000px;
}

#buttonu435
{
	z-index: 37;
	width: 417px;
	height: 83px;
	margin-right: -10000px;
}

#buttonu435:hover
{
	width: 417px;
	height: 83px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu435:active
{
	width: 417px;
	height: 83px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu435.ButtonSelected
{
	width: 417px;
	height: 83px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pu224
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 4px;
}

#u224
{
	z-index: 38;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 260px;
	left: 297px;
}

#u246
{
	z-index: 39;
	width: 920px;
	min-height: 486px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

