#u151-4
{
	background-color: transparent;
	line-height: 37px;
	text-align: right;
	font-size: 31px;
	letter-spacing: 13px;
	color: #F0F0F0;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#menuu75
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u84
{
	background-color: #000000;
	position: relative;
}

#u87-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	letter-spacing: 1px;
	color: #F0F0F0;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u84:hover #u87-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u101
{
	background-color: #000000;
	position: relative;
}

#u103-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	letter-spacing: 1px;
	color: #F0F0F0;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u101:hover #u103-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u131
{
	background-color: #000000;
	position: relative;
}

#u134-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	letter-spacing: 1px;
	color: #F0F0F0;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u131:hover #u134-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u83,#u98,#u130,#u143
{
	background-color: transparent;
	position: relative;
}

#u146
{
	background-color: #000000;
	position: relative;
}

#u148-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	letter-spacing: 1px;
	color: #F0F0F0;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u146:hover #u148-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u84.MuseMenuActive #u87-4 p,#u101.MuseMenuActive #u103-4 p,#u131.MuseMenuActive #u134-4 p,#u146.MuseMenuActive #u148-4 p
{
	color: #FF0028;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u150-6
{
	background-color: transparent;
	letter-spacing: 18px;
	color: #F0F0F0;
	font-size: 55px;
	line-height: 43px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu435
{
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
}

#buttonu435:hover
{
	background-color: transparent;
	border-radius: 10px;
}

#buttonu435:active
{
	background-color: transparent;
	border-radius: 0px;
}

#buttonu435.ButtonSelected
{
	background-color: transparent;
	border-radius: 10px;
}

