.version.motion_reel /* version checker */
{
	color: #000017;
	background-color: #92C61F;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 480px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

#pu150-6
{
	width: 0.01px;
}

#u150-6
{
	z-index: 27;
	width: 360px;
	min-height: 78px;
	margin-right: -10000px;
}

#pu151-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 514px;
}

#u151-4
{
	z-index: 33;
	width: 446px;
	min-height: 34px;
}

#menuu75
{
	z-index: 2;
	width: 386px;
	margin-left: 60px;
	margin-top: 4px;
}

#u83
{
	width: 95px;
	min-height: 38px;
	margin-right: -10000px;
}

#u84
{
	width: 95px;
	padding-bottom: 19px;
}

#u87-4
{
	width: 95px;
	min-height: 19px;
	margin-right: -10000px;
	top: 9px;
}

#u84:hover #u87-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u98
{
	width: 95px;
	min-height: 38px;
	margin-right: -10000px;
	left: 97px;
}

#u101
{
	width: 95px;
	padding-bottom: 19px;
}

#u84.MuseMenuActive,#u101:hover
{
	width: 95px;
	min-height: 0px;
	margin: 0px;
}

#u103-4
{
	width: 95px;
	min-height: 19px;
	margin-right: -10000px;
	top: 9px;
}

#u84.MuseMenuActive #u87-4,#u101:hover #u103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u130
{
	width: 95px;
	min-height: 38px;
	margin-right: -10000px;
	left: 194px;
}

#u131
{
	width: 95px;
	padding-bottom: 19px;
}

#u134-4
{
	width: 95px;
	min-height: 19px;
	margin-right: -10000px;
	top: 9px;
}

#u101.MuseMenuActive #u103-4,#u131:hover #u134-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u143
{
	width: 95px;
	min-height: 38px;
	margin-right: -10000px;
	left: 291px;
}

#u146
{
	width: 95px;
	padding-bottom: 19px;
}

#u101.MuseMenuActive,#u131.MuseMenuActive,#u146.MuseMenuActive
{
	width: 95px;
	min-height: 0px;
	margin: 0px;
}

#u148-4
{
	width: 95px;
	min-height: 19px;
	margin-right: -10000px;
	top: 9px;
}

#u131.MuseMenuActive #u134-4,#u146:hover #u148-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u146.MuseMenuActive #u148-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#pu258
{
	width: 0.01px;
	margin-left: 73px;
	margin-top: 29px;
}

#u258
{
	z-index: 37;
	width: 376px;
	border-width: 8px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	left: -4px;
}

#u258_position_content
{
	padding-top: 6px;
	padding-bottom: 16px;
}

#u259-4
{
	z-index: 38;
	display: block;
	vertical-align: top;
	left: -4px;
	position: relative;
}

#u260-10
{
	z-index: 42;
	display: block;
	vertical-align: top;
	margin-left: 18px;
	margin-top: 11px;
	position: relative;
}

#u429
{
	z-index: 54;
	width: 375px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 441px;
}

#u421
{
	z-index: 52;
	width: 375px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u423
{
	z-index: 53;
	width: 375px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 441px;
}

#pu421,#pu427
{
	width: 0.01px;
	margin-left: 73px;
	margin-top: 48px;
}

#u427
{
	z-index: 56;
	width: 375px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u425
{
	z-index: 55;
	width: 375px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 441px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

