.version.motion_reel /* version checker */
{
	color: #000006;
	background-color: #8F754C;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 480px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

#ppu151-4
{
	width: 0.01px;
}

#pu151-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 514px;
}

#u151-4
{
	z-index: 33;
	width: 446px;
	min-height: 34px;
}

#menuu75
{
	z-index: 2;
	width: 357px;
	margin-left: 89px;
	margin-top: 4px;
}

#u83
{
	width: 87px;
	min-height: 38px;
	margin-right: -10000px;
}

#u84
{
	width: 87px;
	padding-bottom: 19px;
}

#u84.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u87-4
{
	width: 87px;
	min-height: 19px;
	margin-right: -10000px;
	top: 9px;
}

#u84:hover #u87-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u84.MuseMenuActive #u87-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u98
{
	width: 88px;
	min-height: 38px;
	margin-right: -10000px;
	left: 89px;
}

#u101
{
	width: 88px;
	padding-bottom: 19px;
}

#u101:hover
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u103-4
{
	width: 88px;
	min-height: 19px;
	margin-right: -10000px;
	top: 9px;
}

#u101:hover #u103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u130
{
	width: 88px;
	min-height: 38px;
	margin-right: -10000px;
	left: 179px;
}

#u131
{
	width: 88px;
	padding-bottom: 19px;
}

#u134-4
{
	width: 88px;
	min-height: 19px;
	margin-right: -10000px;
	top: 9px;
}

#u101.MuseMenuActive #u103-4,#u131:hover #u134-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u143
{
	width: 88px;
	min-height: 38px;
	margin-right: -10000px;
	left: 269px;
}

#u146
{
	width: 88px;
	padding-bottom: 19px;
}

#u101.MuseMenuActive,#u131.MuseMenuActive,#u146.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u148-4
{
	width: 88px;
	min-height: 19px;
	margin-right: -10000px;
	top: 9px;
}

#u131.MuseMenuActive #u134-4,#u146:hover #u148-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u146.MuseMenuActive #u148-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u150-6
{
	z-index: 27;
	width: 469px;
	min-height: 99px;
	margin-right: -10000px;
}

#buttonu435
{
	z-index: 37;
	width: 417px;
	height: 83px;
	margin-right: -10000px;
}

#buttonu435:hover
{
	width: 417px;
	height: 83px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu435:active
{
	width: 417px;
	height: 83px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu435.ButtonSelected
{
	width: 417px;
	height: 83px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pu258
{
	width: 0.01px;
	margin-left: 73px;
	margin-top: 16px;
}

#u258
{
	z-index: 38;
	width: 376px;
	border-width: 8px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	left: -4px;
}

#u258_position_content
{
	padding-top: 6px;
	padding-bottom: 16px;
}

#u259-4
{
	z-index: 39;
	display: block;
	vertical-align: top;
	left: -4px;
	position: relative;
}

#u260-10
{
	z-index: 43;
	display: block;
	vertical-align: top;
	margin-left: 18px;
	margin-top: 11px;
	position: relative;
}

#u429
{
	z-index: 55;
	width: 375px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 441px;
}

#u607
{
	z-index: 58;
	width: 114px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 735px;
}

#u604
{
	z-index: 59;
	width: 103px;
	height: 28px;
	-pie-box-shadow: 12px 1px 21px #595959;
	box-shadow: 12px 1px 21px rgba(0,0,0,0.65);
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.766,0.6428,-0.6428,0.766,21,-30);
	-ms-transform: matrix(0.766,0.6428,-0.6428,0.766,21,-30);
	transform: matrix(0.766,0.6428,-0.6428,0.766,21,-30);
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 7px;
}

#u605
{
	z-index: 60;
	width: 68px;
	height: 34px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
}

#u606
{
	z-index: 61;
	width: 33px;
	height: 68px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 81px;
}

#u642-4
{
	z-index: 78;
	width: 31px;
	min-height: 56px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 788px;
}

#u423
{
	z-index: 54;
	width: 375px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#u636
{
	z-index: 74;
	width: 114px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 294px;
}

#u638
{
	z-index: 75;
	width: 103px;
	height: 28px;
	-pie-box-shadow: 12px 1px 21px #595959;
	box-shadow: 12px 1px 21px rgba(0,0,0,0.65);
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.766,0.6428,-0.6428,0.766,21,-30);
	-ms-transform: matrix(0.766,0.6428,-0.6428,0.766,21,-30);
	transform: matrix(0.766,0.6428,-0.6428,0.766,21,-30);
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 7px;
}

#u637
{
	z-index: 76;
	width: 68px;
	height: 34px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
}

#u639
{
	z-index: 77;
	width: 33px;
	height: 68px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 81px;
}

#u656-4
{
	z-index: 94;
	width: 31px;
	min-height: 56px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 347px;
}

#u421
{
	z-index: 53;
	width: 375px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#u632
{
	z-index: 70;
	width: 114px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 294px;
}

#u633
{
	z-index: 71;
	width: 103px;
	height: 28px;
	-pie-box-shadow: 12px 1px 21px #595959;
	box-shadow: 12px 1px 21px rgba(0,0,0,0.65);
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.766,0.6428,-0.6428,0.766,21,-30);
	-ms-transform: matrix(0.766,0.6428,-0.6428,0.766,21,-30);
	transform: matrix(0.766,0.6428,-0.6428,0.766,21,-30);
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 7px;
}

#u635
{
	z-index: 72;
	width: 68px;
	height: 34px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
}

#u634
{
	z-index: 73;
	width: 33px;
	height: 68px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 81px;
}

#u655-4
{
	z-index: 90;
	width: 31px;
	min-height: 56px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 347px;
}

#ppu423,#ppu425
{
	width: 0.01px;
	margin-left: 73px;
	margin-top: 29px;
}

#pu423,#pu425
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 441px;
}

#u425
{
	z-index: 56;
	width: 375px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#u628
{
	z-index: 66;
	width: 114px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 294px;
}

#u630
{
	z-index: 67;
	width: 103px;
	height: 28px;
	-pie-box-shadow: 12px 1px 21px #595959;
	box-shadow: 12px 1px 21px rgba(0,0,0,0.65);
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.766,0.6428,-0.6428,0.766,21,-30);
	-ms-transform: matrix(0.766,0.6428,-0.6428,0.766,21,-30);
	transform: matrix(0.766,0.6428,-0.6428,0.766,21,-30);
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 7px;
}

#u629
{
	z-index: 68;
	width: 68px;
	height: 34px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
}

#u631
{
	z-index: 69;
	width: 33px;
	height: 68px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 81px;
}

#u653-4
{
	z-index: 82;
	width: 31px;
	min-height: 56px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 347px;
}

#u427
{
	z-index: 57;
	width: 375px;
	min-height: 240px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#u624
{
	z-index: 62;
	width: 114px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 294px;
}

#u625
{
	z-index: 63;
	width: 103px;
	height: 28px;
	-pie-box-shadow: 12px 1px 21px #595959;
	box-shadow: 12px 1px 21px rgba(0,0,0,0.65);
	background-color: #FFFFFF;
	-webkit-transform: matrix(0.766,0.6428,-0.6428,0.766,21,-30);
	-ms-transform: matrix(0.766,0.6428,-0.6428,0.766,21,-30);
	transform: matrix(0.766,0.6428,-0.6428,0.766,21,-30);
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 7px;
}

#u626
{
	z-index: 64;
	width: 68px;
	height: 34px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
}

#u627
{
	z-index: 65;
	width: 33px;
	height: 68px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 81px;
}

#u654-4
{
	z-index: 86;
	width: 31px;
	min-height: 56px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 347px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

